
    /*Logo */
    .logo{
        margin: 10px;
        width: 60px;
        height: auto;
    }
    .navi-chng{
        font-size: 18px;
    }
    .logo-text{
        color: yellow;
       border-bottom: 1px solid white;
    }
    .logo-text:hover{
        color: white;
       border-bottom: 1px solid yellow;
    }
    
     /*Navbar */
    #home {
            color: yellow;
          } 
    #home:hover {
            color: white;
          } 
    
    #bmi-clc{
            color: white;
          } 
    #keto{
            color: yellow;
          } 
    #keto:hover {
            color: white;
    }  
    #exercises{
      color: yellow;
    }
    #exercises:hover{
      color: white;
    }
  
    
      /*Span part (Diab.) */
    .t-n{
      text-decoration: none;
      color: red;
    }
    .t-n:hover{
      text-decoration: none;
      color: black;
    }
    
    .color-ch{
      color: red;
    }

 

       /*Bmi Form */
      .weight-class{
      margin: 10px 0;
      color: black;
      background-color: whitesmoke;
      word-spacing: 5px;
      font-family: 'Roboto Flex', sans-serif;
      font-size: 18px;
    }
      #weight{
        margin: 5px 0;
        border: 1px solid yellowgreen;
        border-radius: 5%;
        width: 130px;
        font-size: 16px;
      }

      .height-class{
        margin: 10px 0;
        color: black;
        background-color: whitesmoke;
        word-spacing: 5px;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 18px;
      }
      #height{
        margin: 5px 0;
        border: 1px solid yellowgreen;
        border-radius: 5%;
        width: 130px;
        font-size: 16px;
      }


      button.calculate{
        padding: 7px 15px;
        border-radius: 60px;
        display: inline-block;
        background-color: #387bf1;
        color: white;
        font-size: 18px;
        cursor: pointer;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
        0 2px 10px 0 rgba(0,0,0,0.07);
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
      }

    .calculate{
        font-size: 20px;
        border-radius: 20px;
        border: 1.5px dotted rgb(0, 0, 0);
      }
    .calculate:hover{
        background-color: blue;
      }


      .btn-res{
        padding: 7px 15px;
        border-radius: 60px;
        display: inline-block;
        background-color: rgb(232, 74, 74);
        color: white;
        font-size: 18px;
        cursor: pointer;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
        0 2px 10px 0 rgba(0,0,0,0.07);
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
      }

      .btn-res:hover{
        background-color:red;
      }
      .reset:hover{
        color: black;
      }

    .forma{
      border-radius: 30px;
      border: 2px dashed rgb(169, 161, 161);
      height: 500px;
      width: auto;
      display: inline-block;
    }
    .hr-w{
      width: 160px;
      color: red;
    }

      
    /* Footer */
    .btn-up{
      font-size: 20px;
      width: 40px;
      border-radius: 50px;
      border: 1.5px dotted black;
    }

    a {
      text-decoration: none;
      color: black;
      }
 
    .f-text{
      color: green;
    }
    .f-text:hover{
    color: black;
  }

 h1, h2 {
    font-family: 'Anton', sans-serif;
  
  }
  p {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
  }
 
  .footer-btn {
 
    border-bottom: 2px solid rgb(29, 121, 38);
     
    border-radius: 10px;
   
  }